* {
    margin: 0;
    padding: 0;
}

.help-text {
    color: grey;
}

.input {
    background: #FF9900;
    padding: 15px;
    border-radius: 7px;
}

body {
    background: #FFC164;
}

.center {
    text-align: center;
}

.file-upload {
    padding: 7px;
}

.action {
    margin: 5px 20%;
}
table {
    margin-top: 40px;
}